*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-family: 'Handlee', cursive;
}

.banner {
    width: 100%;
    display: inline-block;
}

nav{
    display: inline-block;
    position: absolute;
    top: 30px;
    right:20px;
}
    
    
nav a{
    color: white;
    background-color: #3f51b5;
    border: black 2px solid;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 18px;
}

h2{
    text-align: center;
    border: black solid 3px;
    margin: -6px 0 0 0;
}

a[href="#"] {
    background-color: rgb(52, 166, 57);
    border: black solid 2px;
}
   
.logo{
    
    width: 150px;
    margin: 10px;
}

article{
    display:inline-block;
    padding: 50px 100px;
    position: absolute;
}

.mail{
    display: inline-block;
    padding: 47px 100px;
    position: absolute;
}

.foto1{
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    }

.foto2{
        width: 150px;
        display: inline-block;
        margin-left: 15px;
        }


.foto3{
     width: 150px;
    display: inline-block;
    margin-left: 19px;
            }
.text{
    margin-top: 20px;
    
}    
footer{
    position: absolute;
}
p{
    font-size: 20px;
    display: block
}